@{
    ViewBag.Title = "Home Page";
    
}
<h1>@ViewBag.Role</h1>
@section featured {
    <section class="featured">
        <img src="Images/background.gif" alt="background" width="1197" height="620" />
    </section>
}

